.desktop-navigation-bar {
  position: fixed;
  width: 100%;
  display: hide;
  box-shadow: 0 2px 3px var(--navbar-shadow);
}

.mobile-navigation-bar {
  display: none;
}

.logo-icon {
  display: none;
}

@media screen and (max-width: 580px) {
  .desktop-navigation-bar {
    display: none;
  }
  .mobile-navigation-bar {
    position: fixed;
    width: 100%;
    display: flex;
  }
}
