.desktop-navigation-bar {
  position: fixed;
  width: 100%;
}

.logo-icon {
  display: none;
}

@media screen and (max-width: 760px) {
  .company-logo {
    display: none;
  }
  .logo-icon {
    display: flex;
    width: 2rem;
  }
}
