:root {
  --dark-bg-color: #191a1c;
  --dark-theme-card-bg: #2b2d2e;
  --dark-theme-card-hover: rgba(40, 40, 40, 0.666);
  --dark-theme-new-note: #303335;
  --title-color: #e9e9e9;
}

.dark-mode,
.dark-mode h1,
.dark-mode h2,
.dark-mode p,
.dark-mode input {
  background-color: var(--dark-bg-color);
  color: var(--title-color);
}

.dark-mode-new-note,
.dark-mode-new-note input {
  background-color: var(--dark-theme-new-note);
  color: var(--title-color);
  border: 1px solid gray;
}

.dark-mode-card,
.dark-mode-card h1,
.dark-mode-card h2,
.dark-mode-card p {
  background-color: var(--dark-theme-card-bg);
  color: var(--title-color);
}
