:root {
  --dark-bg-color: #2f2f2f;
  --dark-theme-card-bg: #393939;
  --dark-theme-card-hover: rgb(81, 81, 81);
  --dark-theme-new-note: #353535;
  --title-color: #e9e9e9;
}

.dark-mode,
.dark-mode h1,
.dark-mode h2,
.dark-mode p,
.dark-mode input {
  background-color: var(--dark-bg-color);
  color: var(--title-color);
}

.dark-mode-new-note,
.dark-mode-new-note input,
.dark-mode-new-note p {
  background-color: var(--dark-theme-new-note);
  color: var(--title-color);
  border: 1px solid gray;
}

.dark-mode-new-note p::placeholder {
  color: var(--title-color);
}

.dark-mode-new-note p {
  border: none;
}

.dark-mode-card,
.dark-mode-card p {
  background-color: var(--dark-theme-card-bg);
  color: var(--title-color);
}

.dark-mode-card h2,
.dark-mode-card .note-text,
.dark-mode-card p {
  background-color: transparent;
  color: var(--text-dark);
  font-weight: 500;
}
