.allNotes {
  display: flex;
}

.pinnedNotes,
.otherNotes {
  display: flex;
  flex-direction: column;
}

.pinnedNotes h2,
.otherNotes h2 {
  font-size: 1rem;
  padding-left: 1rem;
  margin: 2rem 0 1rem;
}
